@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
body {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
header, section, main, nav, footer, article, figure, hgroup {
    display: block;
    width: 100%;
}
  
a {
    text-decoration: none;
    outline: none;
    transition: .4s all ease-in-out;
}
  
li {
    list-style: none;
}
  
footer {
    align-self: flex-end;
    width: 100%;
}
  
h1, h2, h3 {
    font-weight: 700;
    color: #000000;
}
  
h4, h5, h6, p {
    font-weight: 400;
    color: rgb(46, 46, 46);
}
  
/* HEADER */
.header-home {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: #131313;
}

#header-img {
    width: 120px;
    height: 50px;
}
  
/* MAIN MENU  */
.main-menu {
    background-color: #787878;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 1.5rem 0 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
  
.menu-link-desktop {
    display: flex;
    align-items:center;
    justify-content: center;
}
  
.nav-link {
    padding: 0 16px;
    line-height: 70px;
    height: 70;
    display: block;
    color: white;
}
  
.nav-link:hover:not(.cta-btn) {
    box-shadow: 0 -5px 0 0 white inset;
}

.cta-btn {
    font-weight: bold;
    background-color: #e79c12;
    line-height:40px;
    height:40px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
}

.cta-btn:hover, .btns:hover {
    transform: scale(.95);
}

/* HERO */
.hero {
    text-align: justify;
    padding: 0 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    min-height: 100vh;
    width: 100%;
    margin: auto;
}

.title-hero, .description-hero {
    color: rgb(0, 0, 0);
}

.first-title {
    font-weight: 300;
    display: block;
}

.title-hero {
    margin-bottom: 20px;
    font-size:45px;
    line-height: 55px;
}

.description-hero {
    font-weight: 400;
    opacity: .7;
    line-height: 28px;
    margin-right: 25px;
}

.image-hero {
    border-radius: 15px;
    max-width:100%;
    width: 100%;
    box-shadow: 15px 13px 22px 1px rgba(0,0,0,0.54);
}

/* BOTONES */
.btns {
    background-color: #e79c12;
    line-height:65px;
    height:65px;
    padding:  0 2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 300px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    box-shadow:  5px 5px 20px #5a5a5a;
}

/* SECTION PAGE*/
.title-section {
    font-size: 45px;
    margin-bottom: 3rem;
    
}

.cars-container {
    margin-top: 100px;
}


/* CONTACTO SECTION */
.form-landing-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-width: 720px;
    width: 100%;
    margin: auto;
}

.form-landing-page .input-field {
    width: 50%;
    margin-bottom: 2rem;
    padding: 0 .75rem;
    min-height: 1px;
}

.form-landing-page .input-field:nth-of-type(5) {
    width: 100%;
    margin-bottom:1.4rem;
}

input, select, textarea {
    font-size:14px;
    outline:none;
    height:3rem;
    width: 90%;
    box-sizing: content-box;
    overflow: visible;
    color: #9c9c9c;
    padding: 0 1rem;
    border-radius: 5px;
    box-shadow: none;
    transition: .4s all;
    border: none;
    border: 1px solid #d7d7d7;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

input:focus, textarea:focus {
    box-shadow: 0 20px 40px -20px rgba(255, 201, 41, 0.595);
    border: 1px solid #f8b931;
    color: #f8b931;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

textarea.textarea-form {
    min-height: 150px;
    max-width: 625px;
    padding:1rem 2rem
}

select.select-form {
    appearance: none;
    line-height:normal;
    position: relative;
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color:#9c9c9c;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #9c9c9c;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #9c9c9c;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #9c9c9c;
}

button.btn-enviar {
    border: none;
    margin-left: 1rem;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
    transition: .4s all;

}

button.btn-enviar:focus,
.btns:focus {
    background: #f28832;
    transform: scale(1);
}

/* FOOTER */
.footer {
    padding: 2rem 1rem;
    background-color: rgb(13, 13, 13);
}

.footer .copy {
    font-size: 12px;
    width: 100%;
}

.footer .copy a {
    color: #bbbbbb;
    box-shadow: 0 1px 0 #bbbbbb;
}

.footer .copy a:hover {
    color: white;
}